
<div id="main">
	

	<!-- Intro -->
		<section id="top" class="one dark cover">
			<div class="container">

				<header>
					<h2 class="alt">Erlang ODBC Tips</h2>
					<h3>A collection of helpful hints for developers using Erlang and ODBC.</h3>
					<p>Using Erlang's ODBC support to access a SQL database can be an exercise in frustration, but this guide will get you started in no time.</p>
				</header>
				
				<footer>
					<a href="#quickstart" class="button scrolly">Let's get started!</a>
				</footer>

			</div>
		</section>
		
	<!-- Quickstart -->
		<section id="quickstart" class="two">
			<div class="container">
		
				<header>
					<h2>First things First</h2>
				</header>
				
				<p>Perhaps you've noticed that there isn't any content here. We're working to fix that!</p>
				<!--
				<div class="row">
					<div class="4u">
						<article class="item">
							<a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
							<header>
								<h3>Ipsum Feugiat</h3>
							</header>
						</article>
						<article class="item">
							<a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
							<header>
								<h3>Rhoncus Semper</h3>
							</header>
						</article>
					</div>
					<div class="4u">
						<article class="item">
							<a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a>
							<header>
								<h3>Magna Nullam</h3>
							</header>
						</article>
						<article class="item">
							<a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
							<header>
								<h3>Natoque Vitae</h3>
							</header>
						</article>
					</div>
					<div class="4u">
						<article class="item">
							<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
							<header>
								<h3>Dolor Penatibus</h3>
							</header>
						</article>
						<article class="item">
							<a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a>
							<header>
								<h3>Orci Convallis</h3>
							</header>
						</article>
					</div>
				</div>
				-->

			</div>
		</section>

</div>